@charset "utf-8";
/*
   Author: Jasmyne Monaco
   Date: 05-14-2019
   Filename: base.css

*/
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

#myBtn {
  bottom: 10px;
  float: right;
  right: 18.5%;
  left: 77.25%;
  max-width: 50px;
  width: 100%;
  font-size: 20px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(100, 100, 100);
  padding: .25px;
  border-radius: 4px;
}

/*On Hover Color Change*/
#myBtn:hover {
  background-color: #7dbbf1;
}
