@charset "utf-8";

/* CSS Audio */
audio {
  padding: 60px;
}

/* Video */
video {}

img {
  border-radius: 25px;
}

/* Images */
#headspace {
  display: block;
  padding: 10px;
}

#calm {
  display: block;
  padding: 10px;
}

#donothing {
  display: block;
  padding: 10px;
}

.books {
  display: block;
  text-align: center;
}
